html{
    text-align: center;
    background-color: #87CEEB;
}

body {
    font-family: 'Belanosima', sans-serif;
    font-size: 25px;
    color: whitesmoke;
    background-color: #87CEEB;
}

h1{
    font-size: 50px;
}

